.app-add-form {
  margin-top: 30px;
  padding: 25px;
  background-color: #bfcbff;
  border-radius: 23px;
  box-shadow: 10px 10px 20px 0px rgba(43, 26, 97, 0.3);
  color: #2b1a61;
}

.add-form {
  margin-top: 20px;
}

.add-form input {
  width: 400px;
  margin-right: 20px;
}
